<div id="<%= dom_id twitter %>">
  <div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="<%= twitter.avatar %>" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@<%= twitter.username %></h5>
        <p class="card-text"><%= twitter.tweet %></p>
        <p class="card-text"><small class="text-body-secondary"><%= twitter.created_at %></small></p>
      </div>
    </div>
  </div>
</div>
</div>
